{% extends "base.html.twig" %}

{% block title %}Stardew Valley{% endblock %}

{% block body %}
    {% include 'fragments/_navigation.html.twig' %}
    <main class="max-w-5xl print:max-w-full mx-auto">
        <h1 class="font-bold text-2xl my-4 print:text-5xl print:text-center">Nejnovější světy</h1>
        {% for upload in worldUploads %}
            <article class="bg-white mb-4 p-4 border-b-4 border-blue-500 shadow">
                <h2 class="font-bold">{{ upload.worldData.player_name }}</h2>
                <time>{{ upload.createdAt|date("m.d.Y H:i:s", "Europe/Prague") }}</time>
                <p>Nahráno uživatelem: <span class="text-red-500 font-bold">{{ upload.author.username }}</span></p>
                <div class="flex mt-2">
                    <a class="flex p-4 border-2 border-black rounded" href="/uploads/{{ upload.saveGameInfo }}" download>
                        <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" height="24" width="24" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <title>SaveGameInfo</title>
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 10v6m0 0l-3-3m3 3l3-3m2 8H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                        </svg>
                        Stáhnout SaveGameInfo
                    </a>
                    <a class="flex p-4 border-2 border-black rounded ml-1" href="/uploads/{{ upload.worldState }}" download>
                        <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" height="24" width="24" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <title>WorldState</title>
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 10v6m0 0l-3-3m3 3l3-3m2 8H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                        </svg>
                        WorldState
                    </a>
                    {% if app.user %}
                        {% if is_granted('ROLE_ADMIN') or upload.author.id == app.user.id %}
                            <form method="post" class="ml-auto" action="/world/delete">
                                <input id="token" name="token" type="hidden" value="{{ csrf_token("delete-world-"~upload.id) }}" />
                                <input id="worldUploadId" name="worldUploadId" type="hidden" value="{{ upload.id }}" />
                                <button type="submit" class="flex p-4 border-2 border-red-500 rounded">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#f00" viewBox="0 0 24 24" stroke="#9B2C2C">
                                        <title>Smazat svět</title>
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                    </svg>
                                </button>
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
            </article>
        {% endfor %}
        {{ knp_pagination_render(worldUploads, "fragments/_pagination.html.twig") }}
    </main>
    <footer class="flex items-center max-w-5xl h-48 mx-auto bg-gray-800 p-4 text-white print:max-w-full">
        <a class="h-full p-8" href="https://github.com/Thesoreon/zwa-project">
            <svg class="h-full" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                <title>Zdrojové kódy na GitHubu</title>
                <path d="M31.975 4.76874C16.5188 4.76249 4 17.275 4 32.7187C4 44.9312 11.8312 55.3125 22.7375 59.125C24.2062 59.4937 23.9813 58.45 23.9813 57.7375V52.8937C15.5 53.8875 15.1562 48.275 14.5875 47.3375C13.4375 45.375 10.7188 44.875 11.5312 43.9375C13.4625 42.9437 15.4312 44.1875 17.7125 47.5562C19.3625 50 22.5812 49.5875 24.2125 49.1812C24.5687 47.7125 25.3313 46.4 26.3813 45.3812C17.5938 43.8062 13.9312 38.4437 13.9312 32.0687C13.9312 28.975 14.95 26.1312 16.95 23.8375C15.675 20.0562 17.0688 16.8187 17.2563 16.3375C20.8875 16.0125 24.6625 18.9375 24.9562 19.1687C27.0187 18.6125 29.375 18.3187 32.0125 18.3187C34.6625 18.3187 37.025 18.625 39.1063 19.1875C39.8125 18.65 43.3125 16.1375 46.6875 16.4437C46.8688 16.925 48.2313 20.0875 47.0312 23.8187C49.0563 26.1187 50.0875 28.9875 50.0875 32.0875C50.0875 38.475 46.4 43.8437 37.5875 45.3937C38.3423 46.136 38.9416 47.0213 39.3505 47.9978C39.7594 48.9744 39.9695 50.0226 39.9688 51.0812V58.1125C40.0188 58.675 39.9688 59.2312 40.9062 59.2312C51.975 55.5 59.9437 45.0437 59.9437 32.725C59.9437 17.275 47.4188 4.76874 31.975 4.76874V4.76874Z" fill="white"/>
            </svg>
        </a>
        <a class="h-full p-8" href="https://symfony.com">
            <svg class="h-full" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                <title>Powered by Symfony</title>
                <path d="M64 32C64 49.678 49.678 64 32 64C14.322 64 0 49.678 0 32C0 14.322 14.322 0 32 0C49.678 0 64 14.322 64 32ZM45.99 11.834C42.74 11.946 39.908 13.738 37.792 16.218C35.448 18.938 33.896 22.164 32.77 25.448C30.77 23.814 29.228 21.678 26.01 20.75C24.7394 20.3617 23.3942 20.284 22.0874 20.5235C20.7806 20.7629 19.5504 21.3125 18.5 22.126C17.4098 22.9784 16.6088 24.146 16.206 25.47C15.248 28.606 17.228 31.406 18.124 32.406L20.092 34.51C20.49 34.918 21.478 36 20.988 37.542C20.478 39.23 18.458 40.312 16.374 39.678C15.446 39.396 14.112 38.7 14.414 37.728C14.54 37.322 14.822 37.032 14.976 36.688C15.112 36.394 15.184 36.166 15.226 36.042C15.602 34.802 15.09 33.186 13.756 32.78C12.516 32.394 11.258 32.698 10.756 34.29C10.204 36.104 11.068 39.386 15.716 40.824C21.164 42.49 25.756 39.53 26.412 35.666C26.82 33.25 25.724 31.448 23.724 29.146L22.09 27.332C21.1 26.354 20.768 24.666 21.788 23.374C22.652 22.278 23.882 21.822 25.892 22.364C28.838 23.166 30.142 25.196 32.33 26.842C31.424 29.802 30.828 32.77 30.298 35.436L29.976 37.426C28.414 45.612 27.226 50.114 24.122 52.698C23.496 53.136 22.602 53.802 21.268 53.852C20.558 53.862 20.318 53.386 20.318 53.166C20.296 52.676 20.716 52.446 20.996 52.228C21.402 52.01 22.038 51.622 21.986 50.426C21.944 49.01 20.768 47.78 19.068 47.834C17.798 47.874 15.86 49.072 15.934 51.26C16.006 53.53 18.12 55.228 21.296 55.114C23.006 55.06 26.798 54.364 30.536 49.916C34.89 44.822 36.11 38.978 37.026 34.698L38.048 29.06C38.618 29.124 39.224 29.166 39.89 29.186C45.306 29.3 48.016 26.49 48.056 24.448C48.088 23.208 47.246 21.99 46.078 22.022C45.5761 22.0347 45.0924 22.2133 44.7027 22.5299C44.313 22.8465 44.0392 23.2833 43.924 23.772C43.674 24.908 45.652 25.94 44.11 26.94C43.016 27.646 41.048 28.148 38.286 27.74L38.788 24.958C39.82 19.688 41.078 13.208 45.882 13.054C46.236 13.032 47.516 13.062 47.538 13.908C47.548 14.188 47.488 14.274 47.154 14.908C46.8427 15.321 46.6844 15.8293 46.706 16.346C46.746 17.69 47.768 18.576 49.258 18.522C51.236 18.46 51.8 16.522 51.778 15.532C51.696 13.198 49.236 11.74 45.986 11.836L45.99 11.834Z" fill="white"/>
            </svg>
        </a>
        <p class="font-bold text-xl ml-auto mr-8">Vytvořil Pavel Sušický</p>
    </footer>
{% endblock %}
